@import '../Styles/fonts.css';

body {
    font-family: iran-sans;
    font-size: 16px;
    direction: rtl;
}

.create-exam {
    width: 100%;
    height: 100vh;
}

.create-exam-content {
    position: relative;
    top: 100px;
    border: thin solid #f9f9f9;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
}

.create-exam-title {
    background-color: rgb(254,184,1);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    text-align: center;
}

.create-exam-form {
    padding: 10px;
    backdrop-filter: blur(6px);
}

.exam-input-group label {
    margin-bottom: 8px;
}

.exam-input-group input {
    text-align: right;
}

.action-buttons {
    text-align: left;
    margin-top: 20px;
}

.grid-table td {
    vertical-align: middle;
}

.search-box {
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 8px;
}

    .search-box input[type=text] {
        direction: rtl;
    }

    .search-box input[type=submit] {
        border: none;
    }

.btn-create {
    white-space: nowrap;
}
